*{
	box-sizing: border-box;
}

body{
	margin:0;
}

header{
	height:100px;
	display: flex;
	background-color: rgb(220,220,255);
}

.headerOption{
	position: relative;
	min-width:140px;
	height:100px;
	padding:15px 1px 0;
	border-right:2px solid #444;
}

label{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

label #setWidth, label #setHeight{
	
	margin-left:8px;
}

label #setHeight{
	margin-top:5px;
}

.tools{
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	height:30px;
	width:30px;
	border:1px solid black;
	border-radius: 5px;
	display: inline-block;
	background-color: white;
}

.tools:hover{
	cursor:pointer;
	background-color: #66f;
}


.tools i{
	margin:5px;
}

.fa-circle{
	margin-left:4px !important;
}

.headerOption:nth-child(4){
	min-width:245px;
}

canvas{
	border:solid 1px black;
	cursor:crosshair;
}

div{
	font-size:20px;
}

span{
	position:absolute;
	bottom:2px;
	font-size:14px;
	display:block;
	width:100%;
	text-align: center;
}


#clear, #download{
	display: block;
	padding-top:2px;
	margin-top:5px;
	margin-left:auto;
	margin-right: auto;
	width:100px;
	height:27px;
	font-size:20px;
	background-color: white;
	text-align: center;
	border-radius:3px;
	border:solid 1px #4444FF;
	cursor:pointer;
}

#clear{
	margin-top:0;
}

#clear:hover, #download:hover{
	background-color: #4444FF;
	color:white;
	cursor:pointer;
}

#width{
	display: block;
	width:100px;
	margin:0 auto;
}

select{
	display:block;
	border-radius: 3px;
	width:100px;
	margin:5px auto 0;
	font-size:20px;
}

#canvas1{
	float:left;
}

#canvas2{
	position:absolute;
	left:0;
	top:100px;
	z-index: -1;
}

#canvas3{
	position:absolute;
	left:0;
	top:100px;
	z-index: -2;
}

.inactive{
	background-color:  rgb(220,220,255);
}

.inactive:hover{
	background-color: #66f;
}

.active{
	background-color: #66f;
}

input{
	width:100px;
	font-size:20px;
	text-align: center;
	border-radius:3px;
	border:solid 1px #4444FF;
}

select{
	border: solid 1px #4444FF;
}

#pick-color{
	width:50px;
	height: 50px;
	position: absolute;
	left:50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -28px
}

#proba, #proba2{
	margin-left:18px;
}

.fa-slash{
	margin:5px 2px 5px  !important;

}

